factory/pipeline/C2P.json
{
	"name": "C2P",
	"properties": {
		"activities": [
			{
				"name": "meta_data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT tm.*, jm.jobname\r\nFROM meta_data.table_meta tm\r\ninner join meta_data.job_metadata jm ON tm.JobID = jm.jobid\r\nWHERE jm.jobname = 'C2P' AND Table_type='fact';\r\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sqlserver",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "meta_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('meta_data').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "c2p",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "start_time",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a05e6@mits.ac.in/process_layer",
								"baseParameters": {
									"processed_Path": {
										"value": "@item().processed_Path",
										"type": "Expression"
									},
									"Mode": {
										"value": "@item().Mode",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "start_time",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a05e6@mits.ac.in/Etl_nb",
								"baseParameters": {
									"job_id": {
										"value": "@string(item().JobID)\n",
										"type": "Expression"
									},
									"table_names": {
										"value": "@item().Table_Names",
										"type": "Expression"
									},
									"process_name": "start_time",
									"pipeline_name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "end_time",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "c2p",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a05e6@mits.ac.in/Etl_nb",
								"baseParameters": {
									"pipeline_name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"process_name": "end_time",
									"table_names": {
										"value": "@item().Table_Names",
										"type": "Expression"
									},
									"job_id": {
										"value": "@string(item().JobID)",
										"type": "Expression"
									},
									"status": {
										"value": "@{activity('c2p').status}",
										"type": "Expression"
									},
									"start_time": "@activity('start_time').output.runOutput.st_res"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"status": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-12T05:19:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}