factory/pipeline/Etl_pipeline.json
{
	"name": "Etl_pipeline",
	"properties": {
		"activities": [
			{
				"name": "metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT tm.*, jm.jobname\r\nFROM meta_data.table_meta tm\r\nJOIN meta_data.job_metadata jm ON tm.JobID = jm.jobid\r\nWHERE jm.jobname = 's2c';\r\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sqlserver",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "source_landingdata",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "start_time",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": "*.*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "cpsrc",
									"type": "DatasetReference",
									"parameters": {
										"Table_Names": {
											"value": "@concat(item().Table_Names)\n",
											"type": "Expression"
										},
										"source_path": {
											"value": "@concat(item().source_path,'/',item().Table_Names)",
											"type": "Expression"
										},
										"container_name": {
											"value": "@pipeline().globalParameters.container_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Parquet",
									"type": "DatasetReference",
									"parameters": {
										"Table_Names": {
											"value": "@item().Table_Names",
											"type": "Expression"
										},
										"landing_path": {
											"value": "@concat('landing_path/',item().Table_Names)",
											"type": "Expression"
										},
										"container_name": {
											"value": "@pipeline().globalParameters.container_name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "start_time",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a05e6@mits.ac.in/Etl_nb",
								"baseParameters": {
									"job_id": {
										"value": "@string(item().JobID)\n",
										"type": "Expression"
									},
									"table_names": {
										"value": "@item().Table_Names",
										"type": "Expression"
									},
									"process_name": "start_time",
									"pipeline_name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "landing_curateddata",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "source_landingdata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a05e6@mits.ac.in/Etl_nb",
								"baseParameters": {
									"Table_Names": {
										"value": "@item().Table_Names",
										"type": "Expression"
									},
									"landing_path": {
										"value": "@item().landing_Path",
										"type": "Expression"
									},
									"curated_path": {
										"value": "@item().curated_Path",
										"type": "Expression"
									},
									"process_name": "l2c",
									"Mode": {
										"value": "@item().Mode",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "archive_on_success",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "landing_curateddata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a05e6@mits.ac.in/Etl_nb",
								"baseParameters": {
									"Table_Names": {
										"value": "@item().Table_Names",
										"type": "Expression"
									},
									"landing_path": {
										"value": "@item().landing_path",
										"type": "Expression"
									},
									"process_name": "archive"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "archive_on_failure",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "landing_curateddata",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a05e6@mits.ac.in/Etl_nb",
								"baseParameters": {
									"File_Names": {
										"value": "@item().File_Names",
										"type": "Expression"
									},
									"landing_path": {
										"value": "@item().landing_path",
										"type": "Expression"
									},
									"process_name": "archive"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "end_time",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "foreach",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/21691a05e6@mits.ac.in/Etl_nb",
					"baseParameters": {
						"pipeline_name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"pipeline_run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"process_name": "end_time"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "end_time",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "status",
					"value": {
						"value": "@if(equals(activity('end_time').status, 'Succeeded'), 'Success', 'Failure')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Script",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SqlServerinfo",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE meta_data.pipeline_logs\nSET\n    status = '@{variables('status')}'\nWHERE pipeline_run_id = '@{pipeline().RunId}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"status": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-12T12:01:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}