factory/pipeline/orch_end_to_end.json
{
	"name": "orch_end_to_end",
	"properties": {
		"activities": [
			{
				"name": "S2C",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "S2C",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "C2P",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "S2C",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "C2P",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "P2S",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "C2P",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "P2S",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "P2S_email_notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "P2S",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-60.eastus.logic.azure.com:443/workflows/9a73b5ebe5264fb5b6d4a6faf95f304d/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=4m-usBFPrMHo73qiBc9xIysVAilcDDu-zk66J4PiT9I",
					"body": {
						"value": "{\n  \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n  \"pipelineName\": \"@{pipeline().Pipeline}\",\n  \"pipelineRunId\": \"@{pipeline().RunId}\",\n  \"Status\": \"@{activity('P2S').Status}\",\n  \"activityname\":\"P2S\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "S2C_email_notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "S2C",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-60.eastus.logic.azure.com:443/workflows/9a73b5ebe5264fb5b6d4a6faf95f304d/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=4m-usBFPrMHo73qiBc9xIysVAilcDDu-zk66J4PiT9I",
					"body": {
						"value": "{\n  \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n  \"pipelineName\": \"@{pipeline().Pipeline}\",\n  \"pipelineRunId\": \"@{pipeline().RunId}\",\n  \"Status\": \"@{activity('S2C').Status}\",\n  \"activityname\":@{activity('S2C').pipelineName}\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "C2P_email_notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "C2P",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-60.eastus.logic.azure.com:443/workflows/9a73b5ebe5264fb5b6d4a6faf95f304d/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=4m-usBFPrMHo73qiBc9xIysVAilcDDu-zk66J4PiT9I",
					"body": {
						"value": "{\n  \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n  \"pipelineName\": \"@{pipeline().Pipeline}\",\n  \"pipelineRunId\": \"@{pipeline().RunId}\",\n  \"Status\": \"@{activity('C2P').Status}\",\n  \"activityname\":\"C2P\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"status": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-13T05:27:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}