factory/pipeline/P2S.json
{
	"name": "P2S",
	"properties": {
		"activities": [
			{
				"name": "path_info",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT tm.*, jm.jobname\nFROM meta_data.table_meta tm\ninner join meta_data.job_metadata jm ON tm.JobID = jm.jobid\nWHERE jm.jobname = 'P2S';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sqlserver",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "path_info",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('path_info').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "p2s",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "start_time",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": "*.*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Psrc",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@pipeline().globalParameters.container_name",
											"type": "Expression"
										},
										"Tables_Name": {
											"value": "@item().Table_Names",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Psink",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "start_time",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a05e6@mits.ac.in/Etl_nb",
								"baseParameters": {
									"job_id": {
										"value": "@string(item().JobID)\n",
										"type": "Expression"
									},
									"table_names": {
										"value": "@item().Table_Names",
										"type": "Expression"
									},
									"process_name": "start_time",
									"pipeline_name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "end_time",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "p2s",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a05e6@mits.ac.in/Etl_nb",
								"baseParameters": {
									"pipeline_name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"process_name": "end_time",
									"table_names": {
										"value": "@item().Table_Names",
										"type": "Expression"
									},
									"job_id": {
										"value": "@string(item().JobID)",
										"type": "Expression"
									},
									"status": {
										"value": "@{activity('p2s').status}",
										"type": "Expression"
									},
									"start_time": {
										"value": "@activity('start_time').output.runOutput.result",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"status": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-11T06:45:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}